<% include partials/header %>
<div class="container">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>

    <a href="campgrounds/new">Add New Campground</a>
</div>

<% campgrounds.forEach(function(campground){ %>
    <img src="<%= campground.image %>" alt="Campground Image">
    <h4>  <%= campground["name"] %> </h4>
<% }); %>

<% include partials/footer %>